.texte{
    color : black;
    font-size: 45px;
    font-family: Montserrat;
    position: absolute;
    top:120px;
    left:100px;
}
.texte2{
    color:#094076;
    font-size: 25px;
    font-family: Montserrat;
    position: absolute;
    top:320px;
    left:100px;
}

.recherche{
    margin-left : 90px;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    top: 50px;
    position: absolute;

}
.recherche input{
    top: 390px;
    width : 505px;
    height: 40px;
    padding-left: 40px; 
    border-radius: 40px;
    position: absolute;
    border : 0.3px solid #8E8E8E;
}
p{
    margin: 10px;
    font-size: 18px;
}
.icon-rech{
    position: absolute;
    left: 12px;
    top:67px;
    width:30px;
    height:30px;
}
.search-input-field { 
   
    margin-right: 450px; /* ajustez la marge à droite à votre convenance */
  }
  .rectangle{
    background-color: #AD98E9; 
    width: 407px;
    height: 570px;
    position:absolute;
}
.choix1{
    color: white;
    font-family: Montserrat;
    size: 12px;
    position: absolute;
    top : 120px;
    left : 55px;
    cursor: pointer;
}
.choix2{
    top : 160px;
    left : 55px;
    position: absolute;
    color: white;
    font-family: Montserrat;
    size: 12px;
}
.choix3{
    top: 200px;
    left : 55px;
    position: absolute; 
    color: white;
    font-family: Montserrat;
    size: 12px;
}
.choix4{
    top : 240px;
    left : 55px;
    position: absolute;
    color: white;
    font-family: Montserrat;
    size: 12px;
}
.choix5{
    top : 280px;
    left : 55px;
    position: absolute;
    color: white;
    font-family: Montserrat;
    size: 12px;
}  
.modifier{
    color : #094076;
    position : absolute;
    font-family: Montserrat;
    top:70px;
    right:70px;
}
.boxx{
    border-radius:18px ;
    width: 480px;
    height: 270px;
    position: absolute;
    top: 220px;
    left: 650px;

}
.trait{
    left: 20px;
    background-color: #e1d9d9;
    width: 400px;
    height: 0.5px;
    top:94px;
    position:absolute;
}
.trait2{
    left: 20px;
    background-color: #e1d9d9;
    width: 400px;
    top:170px;
    height: 0.5px;
    position:absolute;
}
.trait3{
    left: 20px;
    background-color: #e1d9d9;
    width: 400px;
    top:240px;
    height: 0.5px;
    position:absolute;
}

.boxinfos{
    border-radius:18px;
    font-family: Montserrat;
    width: 440px;
    height: 230px;
    position:absolute;
    font-size: 18px;
    color : black;
    top:0px;
    border: 0.1px solid #8E8E8E;
    text-align: left; /* Centrer le texte */
    line-height: 0.6; /* Ajuster l'espacement entre les lignes */
    padding: 20px; /* Ajouter de l'espace entre le texte et le bord de la boîte */
}
.boxx:hover{
    transform: scale(1.1);/*Hadhi juste bach ykbar hadhak le box*/
    box-shadow: 0 0 10px rgba(75, 75, 75, 0.4);
}
